<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hb_bot_scaled">

    <xacro:property name="s" value="4.0" /> # Scale factor for the robot model
    <xacro:property name="s3" value="${s*s*s}" />
    <xacro:property name="s5" value="${s*s*s*s*s}" />

    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertia
        ixx="${m*(3*r*r + h*h)/12}" ixy="0" ixz="0"
        iyy="${m*(3*r*r + h*h)/12}" iyz="0"
        izz="${m*r*r/2}" />
    </xacro:macro>

    <xacro:macro name="rim_macro" params="name x y z rpy">
        <link name="rim_${name}_link">
            <inertial>
                <origin xyz="0 0 ${-0.000343*s}" />
                <mass value="${0.00835758*s3}" />
                <inertia
                    ixx="${6.63684e-07*s5}" ixy="0" ixz="0"
                    iyy="${6.63684e-07*s5}" iyz="0"
                    izz="${9.40333e-07*s5}" />
            </inertial>
            <visual>
                <geometry>
                    <mesh
                        filename="file:///home/deepanshu/kk_ws/src/kk_bot/ext_files/meshes/wheels.dae"
                        scale="${s} ${s} ${s}" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <sphere radius="${0.016*s}" />
                </geometry>
            </collision>
        </link>
        <joint name="rim_${name}_joint" type="continuous">
            <parent link="base_link" />
            <child link="rim_${name}_link" />
            <axis xyz="0 0 1" />
            <limit effort="${1.0*s3}" velocity="${10.0*s}" lower="-1.79769e+308" upper="1.79769e+308" />
            <origin xyz="${x*s} ${y*s} ${z*s}" rpy="${rpy}" />
        </joint>
    </xacro:macro>

    <link name="base_footprint" />
    <link name="root_link" />

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="file:///home/deepanshu/kk_ws/src/kk_bot/ext_files/meshes/hb_crystal.dae"
                    scale="${s} ${s} ${s}" />
            </geometry>
        </visual>

        <collision name="base_link_collision">
            <origin xyz="0 0 ${0.042*s}" rpy="0 0 0" />
            <geometry>
                <cylinder length="${0.064*s}" radius="${0.08*s}" />
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="${0.15*s3}" />
            <xacro:cylinder_inertia m="${0.3*s3}" r="${0.074*s}" h="${0.03*s}" />
        </inertial>
    </link>

    <joint name="footprint_to_root" type="fixed">
        <parent link="base_footprint" />
        <child link="root_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="root_to_base" type="fixed">
        <parent link="root_link" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="chassis_link" />
    <link name="arm_root_link" />

    <joint name="base_to_chassis" type="fixed">
        <parent link="base_link" />
        <child link="chassis_link" />
        <origin xyz="0 0 ${0.0795*s}" rpy="0 0 0" />
    </joint>

    <joint name="chassis_to_arm_base" type="fixed">
        <parent link="chassis_link" />
        <child link="arm_root_link" />
        <origin xyz="${0.075*s} 0 0" rpy="0 0 0" />
    </joint>

    <xacro:rim_macro name="left"
        x="0.03600001399230441" y="0.06235382099401676" z="-0.001"
        rpy="1.570796326794896 0 -0.523599" />
    <xacro:rim_macro name="right"
        x="0.03600001399230441" y="-0.06235382099401676" z="-0.001"
        rpy="1.570796326794896 0 0.523599" />
    <xacro:rim_macro name="back"
        x="-0.072" y="0" z="0"
        rpy="1.570796326794896 0 1.570796326794896" />

    <gazebo>
        <plugin filename="libgazebo_ros_planar_move.so"
                name="gazebo_ros_planar_move">
            <ros>
                <remapping>cmd_vel:=/cmd_vel</remapping>
            </ros>
            <update_rate>100</update_rate>
        </plugin>
    </gazebo>

</robot>
